ansible-advancedlinux/Ansible_ARM.ps1
apprenda60-express/provisionApprendaTestScript.ps1
apprenda60-small/provisionApprendaTestScript.ps1
apprenda60-express/provisionApprendaTestScript.ps1

# local template parameters
**/azuredeploy.parameters.local.json
**/azuredeploy.parameters.dev.json
**/azuredeploy.parameters.?.json
**/prereq.azuredeploy.parameters.?.json
**/prereq.azuredeploy.parameters.dev.json

# secrets
**/*.pfx
**/*.cer

# Visual Studio autosaves
.vs

# emacs autosaves
auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el
.vscode
node_modules
Nese_OMS_NEstedforOMSWS.json
test/template-validation-tests/package-lock.json
test/template-validation-tests/mochawesome-report/*

test/AzTemplateToolKit.zip
test/arm-template-toolkit.zip
test/ci-scripts/azuredeploy.parameters.new.json
test/ci-scripts/Kill-Kill.ps1

quickstarts/microsoft.customproviders/custom-rp-with-function/src/obj/**

# Own Ignores
application-workloads/azure-gamedev
application-workloads/barracuda
application-workloads/bitcore
application-workloads/blockchain
application-workloads/bosh
application-workloads/buffalo
application-workloads/chef
application-workloads/ckan
application-workloads/cloudlens
application-workloads/cohesive
application-workloads/consul
application-workloads/coscale
application-workloads/darktrace
application-workloads/darktrace-vsensor-standalone
application-workloads/dnx
application-workloads/dokku
application-workloads/dosyago
application-workloads/drone
application-workloads/drupal
application-workloads/episerver
application-workloads/ethereum
application-workloads/expanse
application-workloads/gluster
application-workloads/hazelcase
application-workloads/ibm-cloud-pak
application-workloads/jboss
application-workloads/kemp
application-workloads/kentico
application-workloads/lansa
application-workloads/lap
application-workloads/mahara
application-workloads/minecraft
application-workloads/nagios
application-workloads/orchard
application-workloads/perforce
application-workloads/phabricator
application-workloads/redhat
application-workloads/ros
application-workloads/sap
application-workloads/sas
application-workloads/shibboleth
application-workloads/traefik
application-workloads/trailbot
application-workloads/umbraco
application-workloads/wildfly
application-workloads/wordpress
application-workloads/zulu
